name: Matrix
on : push
jobs:
   node-version:
    strategy:
     matrix:
       os: [ubuntu-latest,macos-latest, windows-latest]
       node-version: [6,8,12] 
       include: 
        - os:  macos-latest
        - node-version : 8
        - is_ubuntu_8: "true"
       exclude: 
         - os:  macos-latest
         - node-version : 6
         - os:  ubuntu-latest
         - node-version : 8
    runs-on: ${{matrix.os}}
    env:
      IS_UBUNTU_8: ${{matrix.is_ubuntu_8}}
    steps:
      - name: Log Node Version
        run: node -v
      - uses: actions/setup-node@v2
        with:
            node-version: ${{matrix.node-version}}
      - name: Log Node Version after update
        run: |
         node -v   
         echo $IS_UBUNTU_8    